p Hello #{name},
p Your reservation has been successfully approved!
p Reservation details:
ul
  li Reserved space: #{spaceName}
  li Start date: #{startDate}
  li End date: #{endDate}
p We've attached a calendar file so you can add the reservation to your personal calendar.
